# This notebook will clean data scraped previously and prepare for machine learning

In [760]:
import pandas as pd
import numpy as np
from pathlib import Path
from tqdm.notebook import tqdm
tqdm.pandas()

In [761]:
# Importing csv file
df_game_data = pd.read_csv(Path('original_data.csv'))
df_game_data.drop(columns='Unnamed: 0', inplace=True)
# Fixing Data types
df_game_data['GAME_DATE'] = pd.to_datetime(df_game_data['GAME_DATE'])
display(df_game_data.where(df_game_data['GAME_DATE']=='2023-02-07').value_counts().value_counts())
display(df_game_data.dtypes)

1    12
dtype: int64

SEASON_ID                     int64
TEAM_ID                       int64
TEAM_ABBREVIATION            object
TEAM_NAME                    object
GAME_ID                       int64
GAME_DATE            datetime64[ns]
MATCHUP                      object
WL                           object
MIN                           int64
FGM                           int64
FGA                           int64
FG_PCT                      float64
FG3M                          int64
FG3A                          int64
FG3_PCT                     float64
FTM                           int64
FTA                           int64
FT_PCT                      float64
OREB                          int64
DREB                          int64
REB                           int64
AST                           int64
STL                           int64
BLK                           int64
TOV                           int64
PF                            int64
PTS                           int64
PLUS_MINUS                    int64
VIDEO_AVAILABLE               int64
dtype: object

In [762]:
df_home_teams = df_game_data.where(df_game_data['MATCHUP'].str.contains('vs')).dropna()
df_home_teams = df_home_teams.set_index('GAME_ID')
df_home_teams

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
GAME_ID,,,,,,,,,,,,,,,,,,,,,
20101188.0,22001.0,1.610613e+09,LAL,Los Angeles Lakers,2002-04-17,LAL vs. SAC,W,240.0,44.0,101.0,...,35.0,50.0,22.0,12.0,2.0,10.0,23.0,109.0,14.0,0.0
20101184.0,22001.0,1.610613e+09,UTA,Utah Jazz,2002-04-17,UTA vs. SAS,L,240.0,30.0,83.0,...,34.0,46.0,20.0,8.0,12.0,10.0,21.0,84.0,-2.0,0.0
20101189.0,22001.0,1.610613e+09,GSW,Golden State Warriors,2002-04-17,GSW vs. LAC,W,240.0,39.0,83.0,...,38.0,47.0,25.0,11.0,10.0,14.0,25.0,107.0,4.0,0.0
20101176.0,22001.0,1.610613e+09,BOS,Boston Celtics,2002-04-17,BOS vs. ATL,W,240.0,35.0,82.0,...,36.0,49.0,25.0,8.0,7.0,20.0,19.0,89.0,8.0,0.0
20101185.0,22001.0,1.610613e+09,PHX,Phoenix Suns,2002-04-17,PHX vs. DAL,W,240.0,34.0,79.0,...,36.0,47.0,27.0,9.0,3.0,12.0,13.0,89.0,13.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22200007.0,22022.0,1.610613e+09,MIA,Miami Heat,2022-10-19,MIA vs. CHI,L,240.0,37.0,80.0,...,38.0,46.0,21.0,6.0,2.0,19.0,24.0,108.0,-8.0,1.0
22200003.0,22022.0,1.610613e+09,DET,Detroit Pistons,2022-10-19,DET vs. ORL,W,240.0,40.0,94.0,...,29.0,41.0,31.0,11.0,4.0,13.0,21.0,113.0,4.0,1.0
22200005.0,22022.0,1.610613e+09,ATL,Atlanta Hawks,2022-10-19,ATL vs. HOU,W,240.0,45.0,90.0,...,34.0,38.0,30.0,12.0,5.0,9.0,18.0,117.0,10.0,1.0
22200001.0,22022.0,1.610613e+09,BOS,Boston Celtics,2022-10-18,BOS vs. PHI,W,240.0,46.0,82.0,...,30.0,36.0,24.0,8.0,3.0,11.0,24.0,126.0,9.0,1.0
22200002.0,22022.0,1.610613e+09,GSW,Golden State Warriors,2022-10-18,GSW vs. LAL,W,240.0,45.0,99.0,...,37.0,48.0,31.0,11.0,4.0,18.0,23.0,123.0,14.0,1.0

In [763]:
df_home_teams.drop(columns=['TEAM_ABBREVIATION','TEAM_NAME', 'MATCHUP', 'VIDEO_AVAILABLE'], inplace= True)

In [764]:
df_home_teams.dtypes
df_home_teams['WL'].replace({'W': [1],
                       'L': [0]
},inplace=True)

In [765]:
df_home_teams.dtypes
df_home_teams.rename(columns={
    'TEAM_ID':'HOME_TEAM_ID',
    'WL':'HOME_TEAM_WINS',
    'MIN':'HOME_TEAM_MIN',
    'FGM':'HOME_TEAM_FGM',
    'FGA':'HOME_TEAM_FGA',
    'FG_PCT':'HOME_TEAM_FG_PCT',
    'FG3M':'HOME_TEAM_FG3M',
    'FG3A':'HOME_TEAM_FG3A',
    'FG3_PCT':'HOME_TEAM_FG3_PCT',
    'FTM':'HOME_TEAM_FTM',
    'FTA':'HOME_TEAM_FTA',
    'FT':'HOME_TEAM_FT',
    'FT_PCT':'HOME_TEAM_FT_PCT',
    'OREB':'HOME_TEAM_OREB',
    'DREB':'HOME_TEAM_DREB',
    'REB':'HOME_TEAM_REB',
    'AST':'HOME_TEAM_AST',
    'STL':'HOME_TEAM_STL',
    'BLK':'HOME_TEAM_BLK',
    'TOV':'HOME_TEAM_TOV',
    'PF':'HOME_TEAM_PF',
    'PTS':'HOME_TEAM_PTS',
    'PLUS_MINUS':'HOME_TEAM_PLUS_MINUS'
},inplace=True)

In [766]:
df_home_teams.dtypes

SEASON_ID                      float64
HOME_TEAM_ID                   float64
GAME_DATE               datetime64[ns]
HOME_TEAM_WINS                   int64
HOME_TEAM_MIN                  float64
HOME_TEAM_FGM                  float64
HOME_TEAM_FGA                  float64
HOME_TEAM_FG_PCT               float64
HOME_TEAM_FG3M                 float64
HOME_TEAM_FG3A                 float64
HOME_TEAM_FG3_PCT              float64
HOME_TEAM_FTM                  float64
HOME_TEAM_FTA                  float64
HOME_TEAM_FT_PCT               float64
HOME_TEAM_OREB                 float64
HOME_TEAM_DREB                 float64
HOME_TEAM_REB                  float64
HOME_TEAM_AST                  float64
HOME_TEAM_STL                  float64
HOME_TEAM_BLK                  float64
HOME_TEAM_TOV                  float64
HOME_TEAM_PF                   float64
HOME_TEAM_PTS                  float64
HOME_TEAM_PLUS_MINUS           float64
dtype: object

In [767]:
df_away_teams = df_game_data.where(df_game_data['MATCHUP'].str.contains('@')).dropna()
df_away_teams = df_away_teams.set_index('GAME_ID')
df_away_teams

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
GAME_ID,,,,,,,,,,,,,,,,,,,,,
20101188.0,22001.0,1.610613e+09,SAC,Sacramento Kings,2002-04-17,SAC @ LAL,L,240.0,38.0,84.0,...,37.0,47.0,13.0,6.0,3.0,17.0,13.0,95.0,-14.0,0.0
20101183.0,22001.0,1.610613e+09,DEN,Denver Nuggets,2002-04-17,DEN @ MIN,L,240.0,36.0,85.0,...,17.0,32.0,25.0,10.0,4.0,10.0,18.0,90.0,-14.0,0.0
20101178.0,22001.0,1.610613e+09,CLE,Cleveland Cavaliers,2002-04-17,CLE @ TOR,L,240.0,31.0,80.0,...,25.0,36.0,18.0,5.0,2.0,19.0,20.0,85.0,-18.0,0.0
20101180.0,22001.0,1.610613e+09,MIA,Miami Heat,2002-04-17,MIA @ ORL,W,240.0,45.0,85.0,...,37.0,44.0,33.0,9.0,4.0,13.0,19.0,103.0,14.0,0.0
20101186.0,22001.0,1.610613e+09,HOU,Houston Rockets,2002-04-17,HOU @ POR,L,240.0,33.0,79.0,...,30.0,42.0,19.0,5.0,6.0,15.0,17.0,79.0,-13.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22200003.0,22022.0,1.610613e+09,ORL,Orlando Magic,2022-10-19,ORL @ DET,L,240.0,42.0,86.0,...,38.0,48.0,21.0,5.0,5.0,18.0,24.0,109.0,-4.0,1.0
22200005.0,22022.0,1.610613e+09,HOU,Houston Rockets,2022-10-19,HOU @ ATL,L,240.0,42.0,98.0,...,39.0,54.0,25.0,4.0,3.0,16.0,20.0,107.0,-10.0,1.0
22200004.0,22022.0,1.610613e+09,WAS,Washington Wizards,2022-10-19,WAS @ IND,W,240.0,42.0,92.0,...,39.0,53.0,21.0,5.0,10.0,17.0,19.0,114.0,7.0,1.0
22200002.0,22022.0,1.610613e+09,LAL,Los Angeles Lakers,2022-10-18,LAL @ GSW,L,240.0,40.0,94.0,...,39.0,48.0,23.0,12.0,4.0,22.0,18.0,109.0,-14.0,1.0
22200001.0,22022.0,1.610613e+09,PHI,Philadelphia 76ers,2022-10-18,PHI @ BOS,L,240.0,40.0,80.0,...,27.0,31.0,16.0,8.0,3.0,14.0,25.0,117.0,-9.0,1.0

In [768]:
df_away_teams.drop(columns=['TEAM_ABBREVIATION','TEAM_NAME', 'MATCHUP', 'VIDEO_AVAILABLE', 'WL', 'GAME_DATE'], inplace= True)
df_away_teams.dtypes

SEASON_ID     float64
TEAM_ID       float64
MIN           float64
FGM           float64
FGA           float64
FG_PCT        float64
FG3M          float64
FG3A          float64
FG3_PCT       float64
FTM           float64
FTA           float64
FT_PCT        float64
OREB          float64
DREB          float64
REB           float64
AST           float64
STL           float64
BLK           float64
TOV           float64
PF            float64
PTS           float64
PLUS_MINUS    float64
dtype: object

In [769]:
df_away_teams.rename(columns={
    'TEAM_ID':'AWAY_TEAM_ID',
    'MIN':'AWAY_TEAM_MIN',
    'FGM':'AWAY_TEAM_FGM',
    'FGA':'AWAY_TEAM_FGA',
    'FG_PCT':'AWAY_TEAM_FG_PCT',
    'FG3M':'AWAY_TEAM_FG3M',
    'FG3A':'AWAY_TEAM_FG3A',
    'FG3_PCT':'AWAY_TEAM_FG3_PCT',
    'FTM':'AWAY_TEAM_FTM',
    'FTA':'AWAY_TEAM_FTA',
    'FT':'AWAY_TEAM_FT',
    'FT_PCT':'AWAY_TEAM_FT_PCT',
    'OREB':'AWAY_TEAM_OREB',
    'DREB':'AWAY_TEAM_DREB',
    'REB':'AWAY_TEAM_REB',
    'AST':'AWAY_TEAM_AST',
    'STL':'AWAY_TEAM_STL',
    'BLK':'AWAY_TEAM_BLK',
    'TOV':'AWAY_TEAM_TOV',
    'PF':'AWAY_TEAM_PF',
    'PTS':'AWAY_TEAM_PTS',
    'PLUS_MINUS':'AWAY_TEAM_PLUS_MINUS'
},inplace=True)

In [770]:
df_away_teams

,SEASON_ID,AWAY_TEAM_ID,AWAY_TEAM_MIN,AWAY_TEAM_FGM,AWAY_TEAM_FGA,AWAY_TEAM_FG_PCT,AWAY_TEAM_FG3M,AWAY_TEAM_FG3A,AWAY_TEAM_FG3_PCT,AWAY_TEAM_FTM,...,AWAY_TEAM_OREB,AWAY_TEAM_DREB,AWAY_TEAM_REB,AWAY_TEAM_AST,AWAY_TEAM_STL,AWAY_TEAM_BLK,AWAY_TEAM_TOV,AWAY_TEAM_PF,AWAY_TEAM_PTS,AWAY_TEAM_PLUS_MINUS
GAME_ID,,,,,,,,,,,,,,,,,,,,,
20101188.0,22001.0,1.610613e+09,240.0,38.0,84.0,0.452,5.0,18.0,0.278,14.0,...,10.0,37.0,47.0,13.0,6.0,3.0,17.0,13.0,95.0,-14.0
20101183.0,22001.0,1.610613e+09,240.0,36.0,85.0,0.424,5.0,14.0,0.357,13.0,...,15.0,17.0,32.0,25.0,10.0,4.0,10.0,18.0,90.0,-14.0
20101178.0,22001.0,1.610613e+09,240.0,31.0,80.0,0.388,7.0,17.0,0.412,16.0,...,11.0,25.0,36.0,18.0,5.0,2.0,19.0,20.0,85.0,-18.0
20101180.0,22001.0,1.610613e+09,240.0,45.0,85.0,0.529,6.0,9.0,0.667,7.0,...,7.0,37.0,44.0,33.0,9.0,4.0,13.0,19.0,103.0,14.0
20101186.0,22001.0,1.610613e+09,240.0,33.0,79.0,0.418,3.0,16.0,0.188,10.0,...,12.0,30.0,42.0,19.0,5.0,6.0,15.0,17.0,79.0,-13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22200003.0,22022.0,1.610613e+09,240.0,42.0,86.0,0.488,11.0,30.0,0.367,14.0,...,10.0,38.0,48.0,21.0,5.0,5.0,18.0,24.0,109.0,-4.0
22200005.0,22022.0,1.610613e+09,240.0,42.0,98.0,0.429,9.0,35.0,0.257,14.0,...,15.0,39.0,54.0,25.0,4.0,3.0,16.0,20.0,107.0,-10.0
22200004.0,22022.0,1.610613e+09,240.0,42.0,92.0,0.457,11.0,31.0,0.355,19.0,...,14.0,39.0,53.0,21.0,5.0,10.0,17.0,19.0,114.0,7.0
22200002.0,22022.0,1.610613e+09,240.0,40.0,94.0,0.426,10.0,40.0,0.250,19.0,...,9.0,39.0,48.0,23.0,12.0,4.0,22.0,18.0,109.0,-14.0
22200001.0,22022.0,1.610613e+09,240.0,40.0,80.0,0.500,13.0,34.0,0.382,24.0,...,4.0,27.0,31.0,16.0,8.0,3.0,14.0,25.0,117.0,-9.0

In [771]:
# Pulling in todays games
df_todays_games = pd.read_csv('todays_games.csv')
df_todays_games['GAME_DATE'] = df_game_data['GAME_DATE'].max()
df_todays_games['GAME_DATE'] = pd.to_datetime(df_todays_games['GAME_DATE'])
df_todays_games['GAME_DATE'] += pd.Timedelta(days=1)
df_todays_games['SEASON_ID'] = int(22022)
df_todays_games

     gameId  homeTeamId  awayTeamId  GAME_DATE  SEASON_ID
0  22200822  1610612739  1610612765 2023-02-08      22022
1  22200823  1610612764  1610612766 2023-02-08      22022
2  22200824  1610612738  1610612755 2023-02-08      22022
3  22200826  1610612761  1610612759 2023-02-08      22022
4  22200825  1610612748  1610612754 2023-02-08      22022
5  22200827  1610612745  1610612758 2023-02-08      22022
6  22200828  1610612762  1610612750 2023-02-08      22022
7  22200829  1610612746  1610612742 2023-02-08      22022
8  22200830  1610612757  1610612744 2023-02-08      22022

In [772]:
df_todays_games.rename(columns={
    'gameId':'GAME_ID',
    'homeTeamId':'HOME_TEAM_ID',
    'awayTeamId':'AWAY_TEAM_ID'
}, inplace=True)
df_todays_games

    GAME_ID  HOME_TEAM_ID  AWAY_TEAM_ID  GAME_DATE  SEASON_ID
0  22200822    1610612739    1610612765 2023-02-08      22022
1  22200823    1610612764    1610612766 2023-02-08      22022
2  22200824    1610612738    1610612755 2023-02-08      22022
3  22200826    1610612761    1610612759 2023-02-08      22022
4  22200825    1610612748    1610612754 2023-02-08      22022
5  22200827    1610612745    1610612758 2023-02-08      22022
6  22200828    1610612762    1610612750 2023-02-08      22022
7  22200829    1610612746    1610612742 2023-02-08      22022
8  22200830    1610612757    1610612744 2023-02-08      22022

In [773]:
df_away_teams = df_away_teams.reset_index()
df_home_teams = df_home_teams.reset_index()
df_game_data_concat_1 = pd.concat([df_home_teams,df_away_teams], join='inner', axis=1)
df_game_data_concat_1['GAME_ID'] = df_game_data_concat_1['GAME_ID'].astype('int64')
df_game_data_concat_1['SEASON_ID'] = df_game_data_concat_1['SEASON_ID'].astype('int64')
df_game_data_concat_1['HOME_TEAM_ID'] = df_game_data_concat_1['HOME_TEAM_ID'].astype('int64')
df_game_data_concat_1['AWAY_TEAM_ID'] = df_game_data_concat_1['AWAY_TEAM_ID'].astype('int64')
df_game_data_concat_1.dtypes

GAME_ID                          int64
SEASON_ID                        int64
HOME_TEAM_ID                     int64
GAME_DATE               datetime64[ns]
HOME_TEAM_WINS                   int64
HOME_TEAM_MIN                  float64
HOME_TEAM_FGM                  float64
HOME_TEAM_FGA                  float64
HOME_TEAM_FG_PCT               float64
HOME_TEAM_FG3M                 float64
HOME_TEAM_FG3A                 float64
HOME_TEAM_FG3_PCT              float64
HOME_TEAM_FTM                  float64
HOME_TEAM_FTA                  float64
HOME_TEAM_FT_PCT               float64
HOME_TEAM_OREB                 float64
HOME_TEAM_DREB                 float64
HOME_TEAM_REB                  float64
HOME_TEAM_AST                  float64
HOME_TEAM_STL                  float64
HOME_TEAM_BLK                  float64
HOME_TEAM_TOV                  float64
HOME_TEAM_PF                   float64
HOME_TEAM_PTS                  float64
HOME_TEAM_PLUS_MINUS           float64
GAME_ID                          int64
SEASON_ID                        int64
AWAY_TEAM_ID                     int64
AWAY_TEAM_MIN                  float64
AWAY_TEAM_FGM                  float64
AWAY_TEAM_FGA                  float64
AWAY_TEAM_FG_PCT               float64
AWAY_TEAM_FG3M                 float64
AWAY_TEAM_FG3A                 float64
AWAY_TEAM_FG3_PCT              float64
AWAY_TEAM_FTM                  float64
AWAY_TEAM_FTA                  float64
AWAY_TEAM_FT_PCT               float64
AWAY_TEAM_OREB                 float64
AWAY_TEAM_DREB                 float64
AWAY_TEAM_REB                  float64
AWAY_TEAM_AST                  float64
AWAY_TEAM_STL                  float64
AWAY_TEAM_BLK                  float64
AWAY_TEAM_TOV                  float64
AWAY_TEAM_PF                   float64
AWAY_TEAM_PTS                  float64
AWAY_TEAM_PLUS_MINUS           float64
dtype: object

In [774]:
df_game_data_concat_1 = df_game_data_concat_1.loc[:,~df_game_data_concat_1.columns.duplicated()]
df_game_data_concat_1.dtypes

GAME_ID                          int64
SEASON_ID                        int64
HOME_TEAM_ID                     int64
GAME_DATE               datetime64[ns]
HOME_TEAM_WINS                   int64
HOME_TEAM_MIN                  float64
HOME_TEAM_FGM                  float64
HOME_TEAM_FGA                  float64
HOME_TEAM_FG_PCT               float64
HOME_TEAM_FG3M                 float64
HOME_TEAM_FG3A                 float64
HOME_TEAM_FG3_PCT              float64
HOME_TEAM_FTM                  float64
HOME_TEAM_FTA                  float64
HOME_TEAM_FT_PCT               float64
HOME_TEAM_OREB                 float64
HOME_TEAM_DREB                 float64
HOME_TEAM_REB                  float64
HOME_TEAM_AST                  float64
HOME_TEAM_STL                  float64
HOME_TEAM_BLK                  float64
HOME_TEAM_TOV                  float64
HOME_TEAM_PF                   float64
HOME_TEAM_PTS                  float64
HOME_TEAM_PLUS_MINUS           float64
AWAY_TEAM_ID                     int64
AWAY_TEAM_MIN                  float64
AWAY_TEAM_FGM                  float64
AWAY_TEAM_FGA                  float64
AWAY_TEAM_FG_PCT               float64
AWAY_TEAM_FG3M                 float64
AWAY_TEAM_FG3A                 float64
AWAY_TEAM_FG3_PCT              float64
AWAY_TEAM_FTM                  float64
AWAY_TEAM_FTA                  float64
AWAY_TEAM_FT_PCT               float64
AWAY_TEAM_OREB                 float64
AWAY_TEAM_DREB                 float64
AWAY_TEAM_REB                  float64
AWAY_TEAM_AST                  float64
AWAY_TEAM_STL                  float64
AWAY_TEAM_BLK                  float64
AWAY_TEAM_TOV                  float64
AWAY_TEAM_PF                   float64
AWAY_TEAM_PTS                  float64
AWAY_TEAM_PLUS_MINUS           float64
dtype: object

In [775]:
df_game_data_concat = df_game_data_concat_1.append(df_todays_games, ignore_index=True)
#df_game_data_concat.drop(columns=['level_0','index'],inplace=True)
df_game_data_concat['HOME_TEAM_ID'].value_counts()

1610612750    839
1610612759    837
1610612743    837
1610612762    837
1610612754    836
1610612739    836
1610612752    836
1610612749    835
1610612742    835
1610612745    835
1610612755    835
1610612765    835
1610612761    835
1610612756    835
1610612758    834
1610612757    834
1610612741    834
1610612763    834
1610612753    834
1610612748    834
1610612738    834
1610612744    834
1610612760    834
1610612746    833
1610612747    833
1610612751    833
1610612764    832
1610612737    831
1610612740    795
1610612766    749
Name: HOME_TEAM_ID, dtype: int64

In [776]:
df_game_data_concat = df_game_data_concat.drop(columns='GAME_ID')

In [777]:
df_rolling_stats = df_game_data_concat.drop(columns=['SEASON_ID','GAME_DATE','AWAY_TEAM_ID','HOME_TEAM_WINS'])
df_non_rolling_columns = df_game_data_concat[['HOME_TEAM_ID','SEASON_ID','GAME_DATE','AWAY_TEAM_ID','HOME_TEAM_WINS']]
df_rolling_stats.dtypes

HOME_TEAM_ID              int64
HOME_TEAM_MIN           float64
HOME_TEAM_FGM           float64
HOME_TEAM_FGA           float64
HOME_TEAM_FG_PCT        float64
HOME_TEAM_FG3M          float64
HOME_TEAM_FG3A          float64
HOME_TEAM_FG3_PCT       float64
HOME_TEAM_FTM           float64
HOME_TEAM_FTA           float64
HOME_TEAM_FT_PCT        float64
HOME_TEAM_OREB          float64
HOME_TEAM_DREB          float64
HOME_TEAM_REB           float64
HOME_TEAM_AST           float64
HOME_TEAM_STL           float64
HOME_TEAM_BLK           float64
HOME_TEAM_TOV           float64
HOME_TEAM_PF            float64
HOME_TEAM_PTS           float64
HOME_TEAM_PLUS_MINUS    float64
AWAY_TEAM_MIN           float64
AWAY_TEAM_FGM           float64
AWAY_TEAM_FGA           float64
AWAY_TEAM_FG_PCT        float64
AWAY_TEAM_FG3M          float64
AWAY_TEAM_FG3A          float64
AWAY_TEAM_FG3_PCT       float64
AWAY_TEAM_FTM           float64
AWAY_TEAM_FTA           float64
AWAY_TEAM_FT_PCT        float64
AWAY_TEAM_OREB          float64
AWAY_TEAM_DREB          float64
AWAY_TEAM_REB           float64
AWAY_TEAM_AST           float64
AWAY_TEAM_STL           float64
AWAY_TEAM_BLK           float64
AWAY_TEAM_TOV           float64
AWAY_TEAM_PF            float64
AWAY_TEAM_PTS           float64
AWAY_TEAM_PLUS_MINUS    float64
dtype: object

In [778]:
# Shifting all columns down one row 
for column in df_non_rolling_columns:
    df_non_rolling_columns[column] = df_non_rolling_columns[column].shift(periods = 1)

#df_non_rolling_columns.dropna(inplace=True)

/Users/Shane/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [779]:
# Shifting all columns down one row 
for column in df_rolling_stats:
    df_rolling_stats[column] = df_rolling_stats[column].shift(periods = 1)

In [780]:
# Changing all columns to rolling averages using GroupBy and rolling
df_rolling_stats = df_rolling_stats.groupby(by ='HOME_TEAM_ID', as_index= True).rolling(window = 20).mean()
# Displaying dataframe
df_rolling_stats.index

MultiIndex([(1610612737.0,    17),
            (1610612737.0,    41),
            (1610612737.0,    92),
            (1610612737.0,   114),
            (1610612737.0,   125),
            (1610612737.0,   134),
            (1610612737.0,   163),
            (1610612737.0,   174),
            (1610612737.0,   200),
            (1610612737.0,   217),
            ...
            (1610612766.0, 24573),
            (1610612766.0, 24626),
            (1610612766.0, 24645),
            (1610612766.0, 24688),
            (1610612766.0, 24743),
            (1610612766.0, 24759),
            (1610612766.0, 24775),
            (1610612766.0, 24811),
            (1610612766.0, 24825),
            (1610612766.0, 24884)],
           names=['HOME_TEAM_ID', None], length=24914)

In [781]:
df_rolling_stats = df_rolling_stats.droplevel('HOME_TEAM_ID')
df_rolling_stats

,HOME_TEAM_MIN,HOME_TEAM_FGM,HOME_TEAM_FGA,HOME_TEAM_FG_PCT,HOME_TEAM_FG3M,HOME_TEAM_FG3A,HOME_TEAM_FG3_PCT,HOME_TEAM_FTM,HOME_TEAM_FTA,HOME_TEAM_FT_PCT,...,AWAY_TEAM_OREB,AWAY_TEAM_DREB,AWAY_TEAM_REB,AWAY_TEAM_AST,AWAY_TEAM_STL,AWAY_TEAM_BLK,AWAY_TEAM_TOV,AWAY_TEAM_PF,AWAY_TEAM_PTS,AWAY_TEAM_PLUS_MINUS
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24759,241.25,41.10,91.90,0.4493,10.30,33.30,0.30630,18.30,24.45,0.74595,...,10.30,32.95,43.25,26.95,7.55,5.05,13.15,19.80,115.20,1.00
24775,241.25,40.45,92.05,0.4408,10.40,33.75,0.30475,18.55,24.45,0.75685,...,10.05,32.90,42.95,26.95,7.25,5.10,13.30,20.00,116.20,1.00
24811,241.25,40.35,92.10,0.4393,10.35,33.20,0.31015,18.10,24.05,0.74675,...,9.65,33.25,42.90,26.95,7.40,5.50,13.30,19.85,115.90,2.05
24825,242.50,40.55,93.00,0.4372,10.50,33.15,0.31535,18.00,24.05,0.74350,...,9.55,33.25,42.80,26.40,7.15,5.45,13.25,20.30,115.90,0.85
24884,242.50,40.70,93.35,0.4371,10.50,33.30,0.31350,17.40,23.25,0.74445,...,9.45,33.30,42.75,26.55,7.25,4.95,13.95,20.15,116.15,1.00

In [782]:
df_non_rolling_columns.sort_values(by = ['HOME_TEAM_ID'], inplace = True)
df_non_rolling_columns['HOME_TEAM_WINS'].fillna('Future Game', inplace=True)
df_non_rolling_columns.dropna(inplace=True)

/Users/Shane/opt/anaconda3/envs/dev/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/Users/Shane/opt/anaconda3/envs/dev/lib/python3.7/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [783]:
df_non_rolling_columns['HOME_TEAM_WINS'].value_counts()

1.0            14733
0.0            10173
Future Game        8
Name: HOME_TEAM_WINS, dtype: int64

In [784]:
df_game_data_final = pd.concat([df_rolling_stats, df_non_rolling_columns], join='inner', axis = 1)

In [785]:
df_game_data_final.drop(columns=['SEASON_ID'],inplace=True)
df_game_data_final['HOME_TEAM_WINS'].value_counts()

1.0            14733
0.0            10173
Future Game        8
Name: HOME_TEAM_WINS, dtype: int64

In [786]:
df_game_data_final.loc[df_game_data_final['HOME_TEAM_WINS'] == 'Future Game']

,HOME_TEAM_MIN,HOME_TEAM_FGM,HOME_TEAM_FGA,HOME_TEAM_FG_PCT,HOME_TEAM_FG3M,HOME_TEAM_FG3A,HOME_TEAM_FG3_PCT,HOME_TEAM_FTM,HOME_TEAM_FTA,HOME_TEAM_FT_PCT,...,AWAY_TEAM_STL,AWAY_TEAM_BLK,AWAY_TEAM_TOV,AWAY_TEAM_PF,AWAY_TEAM_PTS,AWAY_TEAM_PLUS_MINUS,HOME_TEAM_ID,GAME_DATE,AWAY_TEAM_ID,HOME_TEAM_WINS
24909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.610613e+09,2023-02-08,1.610613e+09,Future Game
24907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.610613e+09,2023-02-08,1.610613e+09,Future Game
24912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.610613e+09,2023-02-08,1.610613e+09,Future Game
24914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.610613e+09,2023-02-08,1.610613e+09,Future Game
24911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.610613e+09,2023-02-08,1.610613e+09,Future Game
24910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.610613e+09,2023-02-08,1.610613e+09,Future Game
24913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.610613e+09,2023-02-08,1.610613e+09,Future Game
24908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.610613e+09,2023-02-08,1.610613e+09,Future Game

In [787]:
df_game_data_final.dropna(inplace=True)
df_game_data_final['HOME_TEAM_WINS'].value_counts()

1.0    14395
0.0     9941
Name: HOME_TEAM_WINS, dtype: int64

In [788]:
df_game_data_final['HOME_TEAM_WINS'].value_counts()

1.0    14395
0.0     9941
Name: HOME_TEAM_WINS, dtype: int64

In [789]:
df_game_data_final.to_csv('final_data.csv', index=False)